html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: white;
}

button {
  color: black;
  background-color: #eee;
  &.active {
    color: white;
    background-color: #003399;
  }
}

#app {
  width: calc(100vw - 20px);
  display: flex;
  & > .left-area {
    flex: none;
  }
  & > .right-area {
    flex: 1 1 auto;
    max-height: 100vh;
    & > .control-area {
      display: flex;
      & > .button-area {
        padding-left: 10px;
        & > .sketch-buttons-area {
          display: flex;
          flex-direction: column;
          padding-top: 10px;
        }
      }
      & > .preset-area {
        flex: 1 1 auto;
        padding-left: 10px;
        & > .slider-area {
          & label {
            display: flex;

            & span {
              display: inline-block;
              flex: none;
              width: 120px;
              & small {
                font-size: 12px;
                display: block;
                cursor: pointer;
              }
            }
            & input {
              flex: 1 1 auto;
            }
          }
        }
      }
      & > .saves-area {
        padding-top: 10px;
        & #save-button {
          display: block;
        }
      }
    }
    & > .gcode-area {
      padding: 10px;
      & textarea {
        width: 100%;
        resize: vertical;
        min-height: 300px;
      }
    }
  }
}
